@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

body{
    background: linear-gradient(to bottom right, rgba(89, 102, 90, 0.849), rgba(46, 49, 45, 0.76)); 
}
/*MENU*/

a{
    color: #FFF2E7;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    height: 40px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sarala', sans-serif;
    background: #23232e;
    height: 8vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu{
    cursor:pointer;
    display: none;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #FFF2E7;
    margin: 8px;
    transition: 0.3s;
}


/*------------------------------------------------------------------*/



.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 60px;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #FFF2E7;
}
.conteudo-principal-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}
.conteudo-principal-botao{
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px #010125;
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #262325;
    cursor: pointer;
}

.conteudo-principal-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem{
    height: 400px;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-secundario-titulo{
    border-top: 0.4px solid #fff2ff;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}
.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}
.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}
.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}
html,body,main { overflow-x: hidden; }

@media (max-width: 600px) { 
    ol{padding-left: 1.5rem; 
        display: flex; 
        gap: 15px;
        flex-direction: column;    
    }
    body{
        padding: 0;
    }
    .conteudo-principal{height: 50%;}
    .conteudo-principal-imagem{display: none;}
    .conteudo-principal{ 
        flex-direction:column;
    }
    .conteudo-secundario{
        display:list-item;
        flex-direction: column;
        gap: 15px;
        margin-top: 48px;
        padding: 25px;
        transition: transform 0.3s ease-in;
    }
}
@media (max-width: 999px) {
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    .nav-list.active{
        transform: translateX(0);
    }
}       

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);   
    }
    
    to{
        opacity: 1;
        transform: translateX(0);
    }

}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}





